.shoping-cart-container{
  margin-bottom: 61px;

  @include media ('<widescreen') {
    margin-bottom: 40px;
  }

  @include media ('<desktop') {
    margin-bottom: 30px;
  }

  @include media ('<tablet') {
    margin-bottom: 20px;
  }

  .two-columns{
    overflow: hidden;

    .shopping-items-holder{
      float: left;
      width: 78.5%;
      margin-right: 10px;

      @include media ('<widescreen') {
        width: 72%;
      }

      @include media ('<desktop') {
        width: 65%;
      }

      @include media ('<tablet') {
        float: none;
        width: auto;
        margin:0 0  20px;
      }
    }

    .aside {
      overflow: hidden;

      @include media ('<tablet') {
      }

      .btn-hold {
        .btn {
          font-weight: 600;
          width: 100%;
          padding: 14px 15px 15px;

          @include media ('<widescreen') {
            padding: 12px 10px 13px;
          }

          @include media ('<desktop') {
            font-size: 11px;
            padding: 10px;
          }
        }
      }
    }
  }

  .widget {
    overflow: hidden;
    margin-bottom: 10px;
    color: #1f1f1f;
    background: #fff;

    &.cart-total{
      text-transform: uppercase;
      font-size: 13px;
      line-height: 1.2;
      @include media ('<widescreen') {
        font-size: 12px;
      }

      @include media ('<desktop') {
        font-size: 10px;
      }
    }

    .title-hold {
      padding: 18px 19px 14px;

      @include media ('<widescreen') {
        padding: 13px 10px;
      }

      h2 {
        font-size: 13px;
        line-height: 1.2;

        @include media ('<widescreen') {
          font-size: 12px;
        }

        @include media ('<desktop') {
          font-size: 10px;
        }
      }
    }

    .block-content {
      padding: 0 11px 4px;
    }

    p {
      margin-bottom: 24px;
    }


    .table1{
      color: #3d332a;

      @include media ('<widescreen') {
        font-size: 12px;
      }

      td{
        padding: 16px 5px;

        @include media ('<widescreen') {
          padding: 13px 5px;
        }
      }

      .col1{
        width: 65%;
      }

      .col2{
        width: 35%;
      }

      .small-txt{
        font-size: 13px;
        line-height: 1.2;
        font-weight: bold;

        @include media ('<widescreen') {
          font-size: 11px;
        }

        @include media ('<desktop') {
          font-size: 10px;
        }
      }

      .profit-amount {
        color: #68be7a;
        font-size: 20px;
        font-weight: 600;
        line-height: 1.2;

        @include media ('<widescreen') {
          font-size: 16px;
        }

        @include media ('<desktop') {
          font-size: 13px;
        }
      }

      .loss-amount{
        color: #e51a1a !important;
        font-size: 20px;
        font-weight: 600;
        line-height: 1.2;

        @include media ('<widescreen') {
          font-size: 16px;
        }

        @include media ('<desktop') {
          font-size: 13px;
        }
      }

      .text-right {
        strong {
          font-weight: 600;
          display: block;
          white-space: nowrap;
        }
      }
    }
  }
}

.table4 {
  width: 100%;
  font-size: 14px;
  line-height: 18px;
  background: #fff;
  border: 1px solid #e0d6d6;

  @include media ('<widescreen') {
    font-size: 12px;
    line-height: 1.2;
  }

  @include media ('<desktop') {
    font-size: 10px;
  }

  @include media ('<tablet') {
    display: block;
    border-top: 1px solid #000;
    overflow: hidden;
  }

  .col1 {
    width: 642px/1005px*100%;
    border-right: 1px solid #e0d6d6;

    @include media ('<widescreen') {
      width: 50%;
    }
  }

  .col2 {
    width: 120px/1005px*100%;
    border-right: 1px solid #e0d6d6;

    @include media ('<widescreen') {
      width: 13%;
    }
  }

  .col3 {
    width: 120px/1005px*100%;
    border-right: 1px solid #e0d6d6;

    @include media ('<widescreen') {
      width: 13%;
    }
  }

  .col4 {
    width: 120px/1005px*100%;

    @include media ('<widescreen') {
      width: 13%;
    }
  }

  col {
    @include media ('<tablet') {
      width: auto !important; 
      border-right: 0!important;
    }
  }

  tbody,
  td,
  tr{
    @include media ('<tablet') {
      display: block;
    }
  }

  thead {
    background: rgb(253,252,251);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZkZmNmYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZGViZTciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(253,252,251,1) 0%, rgba(237,235,231,1) 100%);
    background: -webkit-linear-gradient(top, rgba(253,252,251,1) 0%,rgba(237,235,231,1) 100%);
    background: linear-gradient(to bottom, rgba(253,252,251,1) 0%,rgba(237,235,231,1) 100%);
    text-align: left;
    border: 1px solid #e6e4e3;

    @include media ('<tablet') {
      display: none;
    }

    th {
      text-transform: uppercase;
      padding-top: 18px;
      padding-bottom: 13px;
      padding-left: 4px;
      padding-right: 4px;
      color:#3d332a;
      font-size: 13px;
      line-height: 1.2;
      text-align: center;

      @include media ('<widescreen') {
        padding-top: 13px;
        padding-bottom: 13px;
        font-size: 12px;
      }

      @include media ('<desktop') {
        font-size: 10px;
      }

      &:first-child {
        padding-left: 27px;
        border-left: 0;
        text-align: left;

        @include media ('<widescreen') {
          padding-left: 10px;
        }
      }
    }

    .blue-color{
      color: #4f607c;
    }
  }

  tbody {
    color: #3d332a;

    @include media ('<tablet') {
      display:block;
      border-left:120px solid #000;
      float:left;
      width:100%;
      border-right: 1px solid #000;
      background:#f7f6f5;
    }

    tr {
      @include media ('<tablet') {
        float: left;
        width: 100%;
        clear: both;
      }

      &+tr {
        border-top: 1px solid #e0d6d6;
      }

      td {
        padding-left: 4px;
        padding-right: 4px;
        text-align: center;

        @include media ('<tablet') {
          text-align: left;
        }

        &:first-child{
          padding-left: 16px;
          text-align: left;

          @include media ('<widescreen') {
            padding-left: 10px;
          }
        }

        strong{
          font-weight: 600;
        }
      }
    }

    tr:nth-child(2n+1) td {
      @include media ('<tablet') {
        background: rgba(0, 0, 0, .1);
      }
    }

    td {
      padding-top: 14px;
      padding-bottom: 14px;

      @include media ('<widescreen') {
        padding-top: 12px;
        padding-bottom: 12px;
      }

      @include media ('<tablet') {
        padding:0 0 0 120px !important;
        margin:0 -1px 0 -120px;
        float:left;
        clear:both;
        width:100%;
        white-space:nowrap;
        border-top:0;
        border-bottom: 1px solid lighten(#3d332a,20%);
        box-sizing: content-box;
      }

      &:before {
        @include media ('<tablet') {
          content:attr(data-label);
          padding: 10px 10px;
          display:inline-block;
          color: lighten(#3d332a,20%) !important;
          font-weight:bold;
          width:100px;
          vertical-align:middle;
          margin:0 0 0 -120px;
          position:relative;
          white-space:normal;
          text-transform: uppercase;
        }
      }

      >span ,
      .tbl-content{
        @include media ('<tablet') {
          white-space:normal;
          display:inline-block;
          vertical-align:middle;
          padding:5px 10px;
        }
      }
    }
  }

  .img {
    float: left;
    width: 110px;
    height: 67px;
    display: flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
    padding: 5px;
    background: #6d1c5f;
    margin: 0 13px 0 0;

    @include media ('<widescreen') {
      width: 100px;
      height: 60px;
    }

    @include media ('<tablet') {
      width: 60px;
    }

    @include media ('<phone') {
      width: 50px;
      height: 50px;
    }

    &.brown {
      background: #5c340d;
    }

    &.black {
      background: #000;
    }
  }

  .content-frame{
    @include media ('<tablet') {
      min-width: 315px;
    }

    @include media ('<phone') {
      min-width: 170px;
    }
  }

  .txt {
    overflow: hidden;
    padding: 4px 0 0;

    .name {
      font-size: 14px;
      line-height: 1.2;
      text-transform: uppercase;
      display: block;
      margin-bottom: 7px;

      @include media ('<widescreen') {
        font-size: 12px;
        margin-bottom: 4px;
      }

      @include media ('<phone') {
        font-size: 11px;
        margin-bottom: 5px;
      }

      a {
        color: #3d332a;
        text-decoration: none;

        &:hover {
          opacity: .8;
        }
      }
    }

    .remove {
      font-size: 12px;
      line-height: 1;

      @include media ('<widescreen') {
        font-size: 11px;
      }

      a {
        text-decoration: none;
        position: relative;
        padding-left: 18px;
        color: #4f607c;

        @include media ('<widescreen') {
          padding-left: 16px;
        }

        &:hover {
          opacity: .8;
        }

        &:before {
          content: '';
          background: url(../images/icon01.png) no-repeat 0 0;
          width: 10px;
          height: 11px;
          position: absolute;
          transform:translateY(-50%);
          top: 50%;
          left: 0;

          @include media ('<widescreen') {
            margin-top: -1px;
          }
        }
      }
    }
  }
}

